<div class="container-fluid">
  <!-- // post method -->
  <div class="row">
    <div class="col-12">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <input type="text" name="message" placeholder="Your message" formControlName="message">
        <br />
        <input type="submit" value="Send">
      </form>
    </div>
    <div class="col-12">
      <h2>Post Url</h2>
      <h4>{{Posturl}}</h4>
    </div>
    <div class="col-12">
      <h2>Response Data From Post Method</h2>
      <table>
        <tr>
          <th>Sl No</th>
          <th>Meal Id</th>
          <th>Name</th>
          <th>Youtube Link</th>
        </tr>
        <tr *ngFor="let item of postResponse?.meals;let i = index">
          <td>{{i}}</td>
          <td>{{item.idMeal}}</td>
          <td>{{item.strMeal}}</td>
          <td> <a href="{{item.strYoutube}}" target="_blank" rel="noopener noreferrer">Watch On Youtube</a> </td>
        </tr>
      </table>
    </div>
  </div>
  <!-- // get method -->
  <div class="row">
    <div class="col-12">
      <h2>Get Url</h2>
      <h4>
        https://api.edamam.com/api/nutrition-data?app_id=f91210f7&app_key=bea52c589f935632465b379a24de1464&nutrition-type=cooking&ingr=food
      </h4>
    </div>
    <div class="col-12">
      <h2>Calories : <small>{{nutritionData.calories}}</small></h2>
    </div>
    <div class="col-12">
      <h2>Cautions : <small>{{nutritionData.cautions ? "null": nutritionData.cautions}}</small></h2>
    </div>
    <div class="col-12">
      <h2>DietLabels : <small>{{nutritionData.dietLabels ? "null": nutritionData.dietLabels}}</small></h2>
    </div>
    <div class="col-12">
      <h2>Health Labels</h2>
      <table *ngIf="nutritionData.healthLabels">
        <tr>
          <th>SL No</th>
          <th>Name</th>
        </tr>
        <tr *ngFor="let item of nutritionData.healthLabels;let i = index">
          <td>{{i}}</td>
          <td>{{item}}</td>
        </tr>
      </table>
    </div>
    <div class="col-12">
      <h2>TotalDaily : <small>{{nutritionData?.totalDaily ? "null": nutritionData?.totalDaily}}</small></h2>
    </div>
    <div class="col-12">
      <h2>Total Nutrients</h2>
      <table>
        <tr>
          <th>Name</th>
          <th>Label</th>
          <th>Quantity</th>
          <th>Unit</th>
        </tr>
        <tr>
          <td> CHOCDF_KCAL</td>
          <td> {{nutritionData?.totalNutrientsKCal?.CHOCDF_KCAL?.label}}</td>
          <td> {{nutritionData?.totalNutrientsKCal?.CHOCDF_KCAL?.quantity}}</td>
          <td> {{nutritionData?.totalNutrientsKCal?.CHOCDF_KCAL?.unit}}</td>
        </tr>
        <tr>
          <td>ENERC_KCAL</td>
          <td>{{nutritionData?.totalNutrientsKCal?.ENERC_KCAL?.label}}</td>
          <td>{{nutritionData?.totalNutrientsKCal?.ENERC_KCAL?.quantity}}</td>
          <td>{{nutritionData?.totalNutrientsKCal?.ENERC_KCAL?.unit}}</td>
        </tr>
        <tr>
          <td>FAT_KCAL</td>
          <td>{{nutritionData?.totalNutrientsKCal?.FAT_KCAL?.label}}</td>
          <td>{{nutritionData?.totalNutrientsKCal?.FAT_KCAL?.quantity}}</td>
          <td>{{nutritionData?.totalNutrientsKCal?.FAT_KCAL?.unit}}</td>
        </tr>
        <tr>
          <td>ENERC_KCAL</td>
          <td>{{nutritionData?.totalNutrientsKCal?.ENERC_KCAL?.label}}</td>
          <td>{{nutritionData?.totalNutrientsKCal?.ENERC_KCAL?.quantity}}</td>
          <td>{{nutritionData?.totalNutrientsKCal?.ENERC_KCAL?.unit}}</td>
        </tr>
      </table>
    </div>
    <div class="col-12">
      <h2>TotalWeight : <small>{{nutritionData?.totalWeight ? "null": nutritionData?.totalWeight}}</small></h2>
    </div>
    <div class="col-12">
      <h2>
        <a href="{{nutritionData.uri}}" target="_blank" rel="{{nutritionData.uri}}">Url</a>
      </h2>
    </div>
  </div>
</div>